html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

canvas {
    margin: 20px;
    border: 1px black solid;
    cursor: pointer;
}

.chat {
    margin-top: 20px;
    padding: 10px;
}

.chats {
    min-height: 50px;
    border: 1px black solid;
}

.right {
    float: right;
    width: 20%;
    margin-right: 20px;
    margin-top: 20px;
}

.message {
    list-style: none;
}
