html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hidden {
    display: none;
}

.chat {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
}

.chats {
    min-height: 50px;
    height: 300px;
    width: 80%;
    overflow-y: auto;
    border: 1px black solid;
}

.right {
    float: right;
    width: 20%;
    margin-right: 20px;
    margin-top: 20px;
}

.message {
    list-style: none;
}

footer .fork {
    -webkit-animation: button-flourish 2s ease 1.02s 1;
    -ms-animation: button-flourish 2s ease 1.02s 1;
    -moz-animation: button-flourish 2s ease 1.02s 1;
    -o-animation: button-flourish 2s ease 1.02s 1;
    animation: button-flourish 2s ease 1.02s 1;

    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}
